@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*  -----------------------------------------------------
1. GENERAL/DEFAULT STYLES
2. HEADER STYLE 
3. TOOGLE STYLE
4. HERO SECTION STYLE
5. ABOUT BE SECTION
6. SKILLS SECTION
7. WORK SECTION
8. CONTACT SECTION
9. FOOTER SECTION
10. MEDIA QUERIES
-----------------------------------------------------  */ 

/* 1. GENERAL/DEFAULT STYLES */
:root {
    --accent-color: #000000;
    --second-accent-color: #FFFFFF;
    --third-accent-color: #D9D9D9;
    --fourth-acent-color: #3D9072;
    --fifth-accent-color: #EDECEC;
}
html {
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
}
.content-wrapper {
    max-width:1126px; /* do not exceed 1300px width */
    margin:0 auto; /* auto left/right margins = auto-centering */
}
#skills-section, #contact-section, .content-spacing {
    padding: 20px 46px;
}

/* 2. HEADER STYLE */
#header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 25px 45px;
    /* height: 4.6875em; */ /* 75px/16px  */
    background-color: var(--fourth-acent-color);
    border: 1px solid var(--accent-color);
    transition: .5s ease;
}
#header a {
    color:var(--accent-color);
    text-decoration:none;
}
#header a:hover {
    color: var(--second-accent-color);
}
#header > img {
    width: 150px;
}
#header .toggleSize{
    width: 27px;
}

/* 3. TOOGLE STYLE */
.toggle, .close-toggle {
    display: none;
}
.toggle_show{
    display: block;
}
.toggle_close{
    display: none;
}
.menu {
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    column-gap:1.625em; /* 26px/16px */
}

/* 4. HERO SECTION STYLE */
.hero-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 36px;
    transition: .5s ease;
}
.hero-text p:first-child {
    font-size: 2em;
    margin: 0 0 7px 0;
    transition: .5s ease;
}
.hero-text p:nth-child(2) {
    font-size: 4.5em;
    color: var(--fourth-acent-color);
    margin: 0 0 7px 0;
    font-weight:700;
    transition: .5s ease;
}
.menu-hero {
    margin:0;
    padding: 0;
    font-size: 1.5em;
    list-style-position: inside;
    transition: .5s ease;
}
.hero-content-work {
    text-decoration: none;
    font-size: 1.5em;
    font-weight:700;
    margin: 13px 0 9px 0;
    padding: 7px 16px;
    border: 2px solid var(--fourth-acent-color);
    display: inline-block;
    border-radius: 10px;
    color: var(--accent-color);
    transition: .5s ease;
}
.hero-content-work:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--fourth-acent-color);
    color: var(--second-accent-color);
    transition:0.75s;
}
.hero-acconts {
    display:flex;
    list-style:none;
    align-items:center;
    margin:0;
    padding:0;
    column-gap:1.1875em; /* 19px/16px */
    transition: .5s ease;
}
.hero-acconts li {
    height: 50px;
}
.hero-acconts img {
    width: 50px;
}
.hero-wrapper > img {
    /* flex-basis: 400px; */
    max-width: 100%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transition: .5s ease;
    object-fit: cover;
}

/* 5. ABOUT BE SECTION */
#about-me-section, #work-section {
    background-color: var(--fifth-accent-color);
}
#about-me-section h2, #skills-section h2, #contact-section h2, #work-section h2{
    margin: 0 0 20px 0px;
    font-size: 32px;
}
.about-wrapper {
    max-width: 1033px;
    margin:0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.about-wrapper > img {
    /* flex-basis: 300px; */
    max-width: 100%;
    width: 300px;
    /* height: auto; */
    border-radius: 10px;
    transition: .5s ease;
}
.about-me-content p {
    margin: 0;
}
.about-me-content p:nth-child(2) {
    margin-top: 24px;
    margin-bottom: 20px;
}
.hide-about-me{
    display: none;
}
.about-info{
    display: flex;
}
.about-info div{
    flex-basis: 50%;
}
.about-info div > li:first-child {
    margin-bottom: 20px;
}
.inner-job {
    display: flex;
    align-items: center;
}
.about-info .about-info-job {
    display: flex;
    align-items: flex-start;
}
.about-me-content .about-info {
    list-style:none;
    margin:0;
    padding:0;
}
.about-info-job ul {
    padding: 0;
    list-style-position: inside;
}

.about-me-content img {
    max-width: 100%;
    width: 32px;
    margin-right: 10px;
}
ul ul {
    list-style-type:disc;
}

/* 6. SKILLS SECTION */
#skills-section .column-skills {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 25px 100px;
    margin: 0 auto;
    transition: .5s ease;
}
#skills-section img {
    height: 80%;
    width:fit-content;
    margin:0 auto;
}
#skills-section .mysql {
    width: 80%;
    height:fit-content;
}
.center-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: var(--third-accent-color);
    border-radius: 10px;
}

/* 7. WORK SECTION */
#work-section img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: .5s ease;
}
.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    transition: .5s ease;
}
.work-wrapper > div {
    flex-basis: 500px;
    display: flex;
    column-gap: 16px;
}
.work-wrapper p {
    margin: 0;
}
.code {
    text-decoration: none;
    background-color: var(--fourth-acent-color);
    padding: 7px 13px;
    color: var(--second-accent-color);
    font-weight:700;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin-top: 18px;
    display: inline-block;
    margin-right: 16px;
}
.code:hover {
    background-color: var(--second-accent-color);
    color: var(--accent-color);
    transition:0.75s;
}
.software {
    display: inline-block;
    font-weight: 700;
}

/* 8. CONTACT SECTION */
#contact-section .contact-container {
    display: flex;
    column-gap: 125px;
    align-items: center;
}
#contact-section img {
    /* flex-basis: 300px; */
    max-width: 100%;
    width: 300px;
    height: 300px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 500px;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    transition: .5s ease;
}
input {
    border-radius: 10px;
    width: 100%;
    height: 32px;
    border: 1px solid var(--accent-color);
    background-color: var(--third-accent-color);
}
input::placeholder, textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--accent-color);
    padding-left: 8px;
}
textarea {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    border: 1px solid var(--accent-color);
    background-color: var(--third-accent-color);
}
button {
    background-color: var(--fourth-acent-color);
    padding: 7px 24px;
    color: var(--second-accent-color);
    font-weight:700;
    border-color: var(--accent-color);
    border-radius: 10px;
    margin-top: 16px;
    align-self: center;
    font-size: 16px;
}

/* 9. FOOTER SECTION */
footer {
    background-color: var(--fourth-acent-color);
    padding: 13px 61px;
    border: 1px solid var(--accent-color);
    transition: .5s ease;
}
footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    max-width: 100%;
    width: 50px;
    align-self: center;
}
footer ul {
    display:flex;
    list-style:none;
    align-items: center;
    margin:0;
    padding:0;
    column-gap: 19px;
}
footer li {
    height: 50px;
}

/* 10. MEDIA QUERIES */
@media screen and (max-width:1131px) {
    .hero-text p:nth-child(2) {
        font-size: 4em;
    }
}
@media screen and (max-width:1116px) {
    .work-wrapper {
        justify-content: center;
        row-gap: 24px;
    }
    .work-wrapper > div {
        flex-basis: 80%;
        column-gap: 34px;
        align-items: center;
    }
}
@media screen and (max-width:1060px) {
    .hero-wrapper > img {
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width:1031px) {
    #contact-section .contact-container {
        justify-content: center;
    }
    #contact-section img {
        display: none;
    }
}
@media screen and (max-width:1010px) {
    .hero-text p:nth-child(2) {
        font-size: 3em;
    }
}
@media screen and (max-width:940px) {
    .about-info div {
        display: none;
    }
    .hide-about-me {
        display: block;
        margin-top: 22px;
    }
    .hide-about-info {
        display: flex;
        column-gap: 3em;
    }
    .hide-about-info div:first-child {
        flex-basis: 300px;
    }
    .hide-about-info div > li:first-child {
        margin-bottom: 20px;
    }
    .hide-about-info .about-info-job {
        display: flex;
        align-items: flex-start;
    }
    .hide-about-info {
        list-style:none;
        margin:0;
        padding:0;
    }
    .hide-about-me img {
        max-width: 100%;
        width: 32px;
        margin-right: 10px;
    }
    .about-me-content p:nth-child(2) {
        margin-bottom: 0;
    }
    #skills-section .column-skills {
        width: 575px;
        gap: 27px 100px;
        margin: 0 auto;
    }
}
@media screen and (max-width:875px) {
    .hero-text p:first-child {
        font-size: 28px;
    }
    .hero-text p:nth-child(2) {
        font-size: 40px;
    }
    .menu-hero {
        font-size: 20px;
    }
    .hero-content-work {
        font-size: 20px;
        margin: 13px 0;
    }
    .hero-wrapper > img {
        width: 300px;
        height: 300px;
    }
    .about-wrapper {
        gap: 16px;
        align-items: flex-start;
        transition: .5s ease;
    }
    .hide-about-info {
        column-gap: 16px;
        transition: .5s ease;
    }
    footer {
        padding: 19px 20px;
    }
}
@media screen and (max-width:768px) {
    #header {
        padding: 27px 24px;
    }
    #main-navigation {
        display: none;
    }
    #header .toggle{
        display: block;
    }
    .hide-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--fourth-acent-color);
        border: 1px solid var(--accent-color);
        text-align: center;
    }
    .hide-menu a {
        color: var(--accent-color);
        text-decoration: none;
    }
    .hide-menu li {
        margin: 16px 0;
    }
    .hero-text p:first-child {
        font-size: 24px;
        margin-bottom: 0;
    }
    .hero-text p:nth-child(2) {
        font-size: 32px;
        margin-bottom: 0;
    }
    .menu-hero {
        font-size: 16px;
    }
    .hero-content-work {
        font-size: 16px;
        margin: 13px 0;
    }
    .hero-wrapper > img {
        width: 286px;
        height: 286px;
    }
    .hero-wrapper {
        flex-flow: row wrap;
        padding: 30px;
    }
    .content-wrapper {
        max-width: 728px;
        margin: 0 auto;
    }
    #about-me-section h2, #skills-section h2, #contact-section h2, #work-section h2 {
        font-size: 24px;
    }
    #skills-section, #contact-section, .content-spacing {
        padding: 20px 15px;
    }
    #work-section img {
        width: 275px;
        height: 275px;
    }
    .work-wrapper > div {
        flex-basis: 584px;
        align-items: flex-start;
    }
    .code {
        margin: 16px 0;
        display: inline-block;
    }
    .software {
        display: block;
    }
    footer li {
        height: 38px;
    }
    footer img {
        width: 38px;
    }
}
@media screen and (max-width:720px) {
    #skills-section, #contact-section, .content-spacing {
        padding: 20px 20px;
    }
    .hero-wrapper {
        padding: 20px;
    }
    .about-wrapper > img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 8px;
        width: 50%;
    }
    .about-wrapper {
        display: block;
    }
}
@media screen and (max-width:630px) {
    .hero-wrapper > img {
        width: 225px;
        height: 225px;
    }
    .about-wrapper > img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    .center-picture {
        width: 96px;
        height: 96px;
    }
    #skills-section .column-skills {
        width: 373px;
        gap: 27px 0;
        justify-content: space-between;
    }
}
@media screen and (max-width:590px) {
    #header {
        padding: 20px;
    }
    .hide-about-info {
        display: block;
    }
    .hide-about-info div > li:first-child, .hide-about-info .about-info-job {
        margin-bottom: 8px;
    }
    .work-wrapper {
        display: block;
    }
    .work-wrapper > div {
        display: block;
    }
    #work-section img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    .code {
        margin: 8px 8px 0 0;
    }
    .code-spacing {
        margin-bottom: 16px;
    }
    .software {
        display: inline-block;
    }
    form {
        width: 400px;
    }
    textarea {
        height: 250px;
    }
    footer ul {
        display: none;
    }
    footer > div {
        justify-content: center;
    }
}
@media screen and (max-width:550px) {
    #header > img {
        width: 115px;
    }
    #header .toggleSize{
        width: 20px;
    }
    .hero-text p:first-child {
        font-size: 16px;
    }
    .hero-text p:nth-child(2) {
        font-size: 24px;
    }
    .hero-content-work {
        margin: 8px 0;
    }
    .hero-acconts li {
        height: 40px;
    }
    .hero-acconts img {
        width: 40px;
    }
    .hero-wrapper > img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:500px) {
    .hero-wrapper > img {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:445px) {
    .hero-text {
        flex-basis: 100%;
        order: 2;
    }
    .hero-wrapper {
        justify-content: center;
    }
    .center-picture {
        width: 70px;
        height: 70px;
    }
    .hide-about-me {
        margin-top: 8px;
    }
    .hide-about-me img {
        width: 24px;
        margin-right: 18px;
    }
    #skills-section .column-skills {
        width: 242px;
        gap: 16px 16px;
    }
    footer {
        font-size: 14px;
    }
}
@media screen and (max-width:320px) {
    .hero-wrapper > img {
        width: 132px;
        height: 132px;
    }
    #about-me-section h2, #skills-section h2, #contact-section h2, #work-section h2 {
        font-size: 16px;
    }
    .about-wrapper > img {
        width: 132px;
    }
    #work-section img {
        width: 200px;
        height: 200px;
    }
    textarea {
        height: 300px;
    }
    footer {
        font-size: 12px;
    }
}